body {
<<<<<<< HEAD
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f4f4f4;
  padding: 50px;
}

h1 {
  color: #0077ff;
=======
  background-color: #f0f4f8;
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 100px;
}

h1 {
  color: #0078d7;
  font-size: 36px;
}

p {
  color: #333;
  font-size: 18px;
>>>>>>> b6bca34fb47b5364982df01ebb191d6da6e90860
}
